.UploadFile {
    height: 100vh;
    width: auto;
    background: #a99cf8;
    .uploadWrapper {
        align-items: center;
        place-items: center;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        height: 100vh;
        .uploadTemplate {
            font-size: 9.5vmin;
            @media (max-width: 800px) {
                font-size: 5.5vmin;
            }
        }
    }
}
