.searchFile {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .input-box {
        padding: 9px;
        border: none;
        outline: none;
        margin: 5px;
        margin: 30px;
        border-radius: 10px;
        font-size: 2.5vmin;
    }
    .list-here {
        padding: 10px;
        margin: 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width: 1024px) {
            grid-template-columns: auto auto;
        }
        @media(max-width:800px) {
            grid-template-columns: auto;
        }
        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .book-card {
                width: auto;
                height: auto;
                background: #211049;
                margin: 15px;
                padding: 25px;
                border-radius: 10px;
                align-items: center;
                &:hover {
                    transition: all 0.2s ease-in-out;
                    transform: scale(1.01);
                }
                @media (max-width: 800px) {
                    width: 55vmin;
                    padding-right: 2rem;
                }
                align-items: center;
                place-items: center;
                .title {
                    color: #fff;
                    font-size: 20px;
                    font-weight: 600;
                }
                .author {
                    font-size: 14px;
                    color: #873cd1;
                }
                .book-image {
                    height: 55vmin;
                    width: auto;
                    object-fit: contain;
                    @media(max-width: 800px) {
                        height: 90vmin;
                    }
                }
                .button-div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .Read {
                        padding: 10px;
                        outline: none;
                        flex: 0.5;
                        border: none;
                        border-radius: 10px;
                        color: #efefef;
                        background: #873cd1;
                        font-family: Poppins, sans-serif;
                        font-weight: 600;
                        &:hover {
                            transition: all 0.2s ease-in-out;
                            background: #6224a0;
                            color: #efefef;
                        }
                    }
                    .Download {
                        margin-top: 5px;
                        flex: 0.5;
                        padding: 10px;
                        outline: none;
                        border: none;
                        border-radius: 10px;
                        color: #4d0a8f;
                        background: #a99cf8;
                        font-family: Poppins, sans-serif;
                        font-weight: 600;
                        &:hover {
                            transition: all 0.2s ease-in-out;
                            background: #6546f0;
                            color: #efefef;
                        }
                    }
                }
            }
        }
    }
}